* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: blue;
}

header {
  width:100%;
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
}

ul {
  display: flex;
  justify-content: center;
}

li {
  list-style: none;
  padding: 15px 0;
  margin: 0 20px;
}

main {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  margin: 50px auto;
}

.e6ffe9 {
  width: 200px;
  height: 200px;
  background-color: #e6ffe9;
}

.cdffd3 {
  width: 200px;
  height: 200px;
  background-color: #cdffd3;
}

.aeffbd {
  width: 200px;
  height: 200px;
  background-color: #aeffbd;
}

.main-li {
  width: 200px;
  height: 200px;
  background-color: #93ffab;
}

.f3ffd8 {
  width: 200px;
  height: 200px;
  background-color: #f3ffd8;
}

.edffbe {
  width: 200px;
  height: 200px;
  background-color: #edffbe;
}

.e9ffa5 {
  width: 200px;
  height: 200px;
  background-color: #e9ffa5;
}

.e4ff8d {
  width: 200px;
  height: 200px;
  background-color: #e4ff8d;
}

.d9e5ff {
  width: 200px;
  height: 200px;
  background-color: #d9e5ff;
}

.bad3ff {
  width: 200px;
  height: 200px;
  background-color: #bad3ff;
}

.a4c6ff {
  width: 200px;
  height: 200px;
  background-color: #a4c6ff;
}

.8eb8ff {
  width: 200px;
  height: 200px;
  background-color: #8eb8ff;
}